# Environment Configuration
# Set to 'production' for production deployment, 'staging' for staging, etc.
ENVIRONMENT=local

# SSL Configuration
# Set to 'true' to enable SSL, 'false' to disable
USE_SSL=false

# Traefik Configuration
# Email address for Let's Encrypt notifications
ACME_EMAIL=your-email@example.com
# Basic auth for Traefik dashboard. Generate using htpasswd
# FYI Note: when used in docker-compose.yml all dollar signs in the hash need to be doubled for escaping.
# To create a admin:password pair without prompt, the following command can be used:
# htpasswd -nb admin password | sed 's/\$/\\$/g'
# -> admin:\$apr1\$LRy6wY7U\$RDVR4gPQY.P0WtZe2O86J.
TRAEFIK_DASHBOARD_AUTH="admin:\$apr1\$LRy6wY7U\$RDVR4gPQY.P0WtZe2O86J."

# Domains
TRAEFIK_DASHBOARD_DOMAIN=traefik.localhost
API_DOMAIN=api.localhost
WEB_DOMAIN=web.localhost
DOZZLE_DOMAIN=dozzle.localhost
LOGTO_DOMAIN=logto.localhost
LOGTO_ADMIN_DOMAIN=logto-admin.localhost

# Database Configuration
# PostgreSQL user, password, and database name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_MULTIPLE_DATABASES="logto,app"

# Logto Configuration
LOGTO_APP_ID=
LOGTO_APP_SECRET=

# Logto Management API Configuration
LOGTO_MANAGEMENT_API_APPLICATION_ID=
LOGTO_MANAGEMENT_API_APPLICATION_SECRET=

# Logto event webhook for stripe signing key
LOGTO_APP_API_EVENT_WEBHOOK_SIGNING_KEY=